@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		8;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	11;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 88.725%;
	padding-left: 1.1375%;
	padding-right: 1.1375%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Mlogo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 23.0769%;
	display: block;
}
#Mheader {
	clear: none;
	float: left;
	margin-left: 0;
	width: 76.5%;
	display: block;
	font-family: "Comic Sans MS", cursive;
	font-size: small;
	background: -webkit-gradient(linear, left top, right top, from(#FFF), color-stop(0.25, #000), color-stop(0.5, #FFF), color-stop(0.75, #000), to(#FFF)); /* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(left, #2F2727, #1a82f7, #2F2727, #1a82f7, #2F2727); /* Firefox 3.6+ */
	background: -moz-linear-gradient(left, #2F2727, #1a82f7, #2F2727, #1a82f7, #2F2727); /* IE 10 */
	background: -ms-linear-gradient(left, #2F2727, #1a82f7, #2F2727, #1a82f7, #2F2727); /* Opera 11.10+ */
	background: -o-linear-gradient(left, #2F2727, #1a82f7, #2F2727, #1a82f7, #2F2727);
	color: rgba(255,0,0,1);
	text-align: center;
}
#Mfpcontent {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top: 10px;
}

#news {
	clear: both;
	float: left;
	margin-left: 0;
	width: 23.0769%;
	display: block;
	background-color:rgba(255,255,255,1);
}

#memberships {
	clear: none;
	float: left;
	margin-left: 10.3846%;
	width: 33.0769%;
	display: block;
}

#gallery {
	clear: none;
	float: left;
	margin-left: 10.3846%;
	width: 23.0769%;
	display: block;
}



/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Mlogo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Mheader {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#Mfpcontent {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.3636%;
	max-width: 1232px;
	padding-left: 0.8181%;
	padding-right: 0.8181%;
	margin: auto;
}

#Mlogo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Mheader {
	clear: none;
	float: left;
	margin-left: 0;
	
	width: 100%;
	display: block;
}
#Mfpcontent {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

#news img {
	display: block;
}
